<%= form_for :cadastro, :url => {:action => 'cadastro_new'} do |c| %>
   <p>
  	<%= c.label :Nome%><br>
  	<%= c.text_field 'nome'%><br>
   </p>

   <p>
  	<%= c.label :Sobrenome%><br>
  	<%= c.text_field 'sobrenome'%><br>
   </p>
   <p>
  	<%= c.label :Email%><br>
  	<%= c.text_field 'email'%><br>
   </p>
   <p>
  	<%= c.label :Cpf%><br>
  	<%= c.text_field 'cpf'%><br>
   </p>
   <p>
  	<%= c.label :Usuario%><br>
  	<%= c.text_field 'username'%><br>
   </p>
   <p>
  	<%= c.label :Senha%><br>
  	<%= c.password_field 'pwd'%><br>
   </p>
   <p>
  	<%= c.submit :Enviar%><br>
   </p>
<% end %>

