<%= form_for :cadastro, url: cadastro_new do |l| %>
   <p>
  	<%= l.label :Nome%><br>
  	<%= l.text_field 'Nome'%><br>
   </p>

   <p>
  	<%= l.label :Sobrenome%><br>
  	<%= l.text_field 'sobrenome'%><br>
   </p>
   <p>
  	<%= l.label :Email%><br>
  	<%= l.text_field 'email'%><br>
   </p>
   <p>
  	<%= l.label :Cpf%><br>
  	<%= l.text_field 'cpf'%><br>
   </p>
   <p>
  	<%= l.label :Usuario%><br>
  	<%= l.text_field 'username'%><br>
   </p>
   <p>
  	<%= l.label :Senha%><br>
  	<%= l.password_field 'pwd'%><br>
   </p>
   <p>
  	<%= l.submit :Enviar%><br>
   </p>
<% end %>

